<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Poke Tools</title>
</head>
<body>
    <div th:replace="common/header :: header_fragment"></div>
    <div class="container">
        <h1 class="m-3 text-center">Poke Tools β版</h1>
        <a th:href="@{/mypage}">マイページへ</a>
        <br>
        <a th:href="@{/rental/top}">レンタルパーティメニューへ</a>
        <br>
        <a href="https://forms.gle/F2b1hB1acsF7uJue9" target="_blank" rel="noopener noreferrer">お問い合わせ（別タブ）</a>
    </div>
</body>
</html>