<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>検索</title>
</head>
<body>
    <div th:replace="common/header :: header_fragment"></div>
    <div class="container">
        <h1 class="m-3 text-center">レンタルパーティ検索</h1>
        <form th:action="@{/rental/search}" method="get" class="m-3">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <input type="text" th:value="${keyword}" name="keyword" id="inputText" class="form-control" placeholder="キーワード" aria-label="キーワード">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-primary">検索</button>
                </div>
            </div>
        </form>
        <div class="m-3">
            <h5>検索結果</h5>
    
            <table class="table able-hover">
                <tr style="background-color: #fff6a4;">
                    <th>チームID</th>
                    <th>紹介文</th>
                    <th>お気に入り</th>
                </tr>
                <div th:each="rentalParty : ${rentalPartyList}">
                    <tr>
                        <td th:text="${rentalParty.rentalId}"></td>
                        <td th:text="${rentalParty.introduce}"></td>
                        <td>
                            <form th:action="@{/faborite/add}" method="post">
                                <button type="submit" class="btn btn-primary">登録</button>
                                <input type="hidden" name="rentalId" th:value="${rentalParty.rentalId}">
                            </form>
                        </td>
                    </tr>
                </div>
            </table>
        </div>
    </div>
    
</body>
</html>